$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FFB648;
$secondary_paletteKeyColor: #6FC5C0;
$tertiary_paletteKeyColor: #D28BD8;
$neutral_paletteKeyColor: #C9B28B;
$neutral_variant_paletteKeyColor: #98876F;
$background: #0E0B08;
$onBackground: #F2E3C6;
$surface: #0E0B08;
$surfaceDim: #050302;
$surfaceBright: #3A2710;
$surfaceContainerLowest: #050302;
$surfaceContainerLow: #1C150C;
$surfaceContainer: #1C150C;
$surfaceContainerHigh: #2B1F10;
$surfaceContainerHighest: #3A2710;
$onSurface: #F2E3C6;
$surfaceVariant: #2B1F10;
$onSurfaceVariant: #C9B28B;
$inverseSurface: #F2E3C6;
$inverseOnSurface: #0E0B08;
$outline: #5A4420;
$outlineVariant: #3A2710;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB648;
$primary: #FFB648;
$onPrimary: #2B1F10;
$primaryContainer: #3A2710;
$onPrimaryContainer: #FFD080;
$inversePrimary: #C99545;
$secondary: #6FC5C0;
$onSecondary: #0E0B08;
$secondaryContainer: #1C150C;
$onSecondaryContainer: #8FE2DD;
$tertiary: #D28BD8;
$onTertiary: #0E0B08;
$tertiaryContainer: #1C150C;
$onTertiaryContainer: #EBA9F0;
$error: #FF5A4E;
$onError: #0E0B08;
$errorContainer: #1C150C;
$onErrorContainer: #FF8274;
$primaryFixed: #FFB648;
$primaryFixedDim: #C99545;
$onPrimaryFixed: #0E0B08;
$onPrimaryFixedVariant: #5A4420;
$secondaryFixed: #6FC5C0;
$secondaryFixedDim: #6FC5C0;
$onSecondaryFixed: #0E0B08;
$onSecondaryFixedVariant: #5A4420;
$tertiaryFixed: #D28BD8;
$tertiaryFixedDim: #D28BD8;
$onTertiaryFixed: #0E0B08;
$onTertiaryFixedVariant: #5A4420;
$success: #A8C97B;
$onSuccess: #0E0B08;
$successContainer: #1C150C;
$onSuccessContainer: #C9E89B;
$term0: #0E0B08;
$term1: #FF5A4E;
$term2: #A8C97B;
$term3: #FFB648;
$term4: #6FC5C0;
$term5: #D28BD8;
$term6: #8FE2DD;
$term7: #F2E3C6;
$term8: #98876F;
$term9: #FF8274;
$term10: #C9E89B;
$term11: #FFD080;
$term12: #8FE2DD;
$term13: #EBA9F0;
$term14: #A2F1E0;
$term15: #FFFBEE;
