$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #C98A2E;
$secondary_paletteKeyColor: #74A39A;
$tertiary_paletteKeyColor: #9E7AA6;
$neutral_paletteKeyColor: #8A9A72;
$neutral_variant_paletteKeyColor: #5E7A48;
$background: #0E0B06;
$onBackground: #D7B56D;
$surface: #0E0B06;
$surfaceDim: #070502;
$surfaceBright: #2A1C08;
$surfaceContainerLowest: #070502;
$surfaceContainerLow: #171005;
$surfaceContainer: #21170A;
$surfaceContainerHigh: #2A1C08;
$surfaceContainerHighest: #3A2710;
$onSurface: #D7B56D;
$surfaceVariant: #2A1C08;
$onSurfaceVariant: #8A9A72;
$inverseSurface: #E8C88E;
$inverseOnSurface: #0E0B06;
$outline: #5E7A48;
$outlineVariant: #2A1C08;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C98A2E;
$primary: #C98A2E;
$onPrimary: #0E0B06;
$primaryContainer: #2A1C08;
$onPrimaryContainer: #E8B54A;
$inversePrimary: #A57025;
$secondary: #74A39A;
$onSecondary: #0E0B06;
$secondaryContainer: #171005;
$onSecondaryContainer: #92BEB4;
$tertiary: #9E7AA6;
$onTertiary: #0E0B06;
$tertiaryContainer: #171005;
$onTertiaryContainer: #B89BC0;
$error: #D86A3C;
$onError: #0E0B06;
$errorContainer: #171005;
$onErrorContainer: #E89A6E;
$primaryFixed: #C98A2E;
$primaryFixedDim: #A57025;
$onPrimaryFixed: #0E0B06;
$onPrimaryFixedVariant: #5E7A48;
$secondaryFixed: #74A39A;
$secondaryFixedDim: #74A39A;
$onSecondaryFixed: #0E0B06;
$onSecondaryFixedVariant: #5E7A48;
$tertiaryFixed: #9E7AA6;
$tertiaryFixedDim: #9E7AA6;
$onTertiaryFixed: #0E0B06;
$onTertiaryFixedVariant: #5E7A48;
$success: #5E7A48;
$onSuccess: #0E0B06;
$successContainer: #171005;
$onSuccessContainer: #7A9A60;
$term0: #0E0B06;
$term1: #C85A38;
$term2: #6E8E50;
$term3: #C98A2E;
$term4: #74A39A;
$term5: #9E7AA6;
$term6: #74A39A;
$term7: #D7B56D;
$term8: #8A9A72;
$term9: #E89A6E;
$term10: #7A9A60;
$term11: #E8B54A;
$term12: #92BEB4;
$term13: #B89BC0;
$term14: #92BEB4;
$term15: #F0D29E;
